p, div {
    font-family: Lato;
}

body {
    margin: 0; /* Varsayılan margin'i sıfırla */
    background-color: #3a3737; /* En dıştaki arka plan rengi (örneğin açık gri) */
    font-family: Lato;
}

.wrapper {
    height: 97vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e0e0; 
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-width: 100%;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #5e7e81; /* Yeni arka plan rengi (örneğin açık mavi) */
}

.form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin-top: 0.25em;
    color: #ffffff; /* Darker text for contrast */
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label {
    margin-bottom: 0.5em;
    color: #ffffff; /* Medium gray for labels */
    font-weight: 400;
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
    background-color: #f9f9f9; /* Very light input background */
    color: #333;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: 300;
    color: #999; 
}

button {
    min-width: 100%;
    cursor: pointer;
    margin-top: 0.5em;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: #364037;
    color: #ffffff;
    font-weight: 500;
}

button:hover {
    background-color: #010101; 
    color: #ffffff;
}

.username,
.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.green {
    color: rgb(192, 206, 59);
  }