p, div {
    font-family: Lato;
}

body {
    margin: 0;
    background-color: #3a3737;
    font-family: Lato;
}

.wrapper {
    height: 97vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3737; 
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-width: 100%;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #475b5d; 
}

.form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin-top: 0.25em;
    color: #ffffff; 
}
form {
    width: 100%;
    display: flex;
    flex-direction: column; /* her input grubu alt alta */
    gap: 20px; /* input grupları arasında boşluk */
}

label {
    margin-bottom: 0.5em;
    color: #ffffff; 
    font-weight: 400;
}

input {
    width: 100%; /* form içindeki tüm input aynı genişlikte */
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
    background-color: #f9f9f9; 
    color: #333;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: 300;
    color: #999; 
}

button {
    width: 100%; /* buton da aynı genişlikte */
    cursor: pointer;
    margin-top: 1em; /* input ile buton arasında boşluk */
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: #364037;
    color: #ffffff;
    font-weight: 500;
}

.form-wrapper h2,
.form-wrapper label,
.form-wrapper p {
  color: #2c3e50; /* veya başka bir koyu renk (#000 da olur) */
}


button:hover {
    background-color: #45a049;
    color: #ffffff;
}

/* tüm input grupları aynı genişlikte olacak */
.title,
.type,
.description,
.base_price,
.base_stock,
.code,
.color,
.hex,
.category,
.slug {
    display: flex;
    flex-direction: column;
    width: 100%;   /* sabit genişlik */
    margin-bottom: 15px;
}
